<form class="venus">
    <label>Tittle</label>
    <input type="email" placeholder="Type..." disabled/>

    <label>Invalid</label>
    <input type="email" placeholder="Type your email"/>

    <label>Text</label>
    <textarea name="" id="" cols="30" rows="10" placeholder="Type..."></textarea>

    <input id="check1" type="checkbox" name="check" value="check1">
    <label for="check1">Checkbox No. 1</label>
    <input id="check2" type="checkbox" name="check" value="check2">
    <label for="check2">Checkbox No. 2</label>
    <input id="check3" type="checkbox" name="check" value="check3" disabled>
    <label for="check3">Checkbox No. 3</label>
</form>
