<div class="venus row icons-example">
    <div class="venus column two">
        <p><i class="venus icon-add"></i>icon-add</p>
        <p><i class="venus icon-arrow-left"></i>icon-arrow-left</p>
        <p><i class="venus icon-arrow-right"></i>icon-arrow-right</p>
        <p><i class="venus icon-arrow-left"></i>icon-arrow-left</p>
        <p><i class="venus icon-arrow-up"></i>icon-arrow-up</p>
        <p><i class="venus icon-arrow-down"></i>icon-arrow-down</p>
        <p><i class="venus icon-android"></i>icon-android</p>
        <p><i class="venus icon-alert"></i>icon-alert</p>
        <p><i class="venus icon-apple"></i>icon-apple</p>
        <p><i class="venus icon-attach"></i>icon-attach</p>
        <p><i class="venus icon-book"></i>icon-book</p>
        <p><i class="venus icon-bright"></i>icon-bright</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-cam"></i>icon-cam</p>
        <p><i class="venus icon-card"></i>icon-card</p>
        <p><i class="venus icon-chat"></i>icon-chat</p>
        <p><i class="venus icon-check"></i>icon-check</p>
        <p><i class="venus icon-check-list"></i>icon-check-list</p>
        <p><i class="venus icon-clock"></i>icon-clock</p>
        <p><i class="venus icon-cloud"></i>icon-cloud</p>
        <p><i class="venus icon-directory"></i>icon-directory</p>
        <p><i class="venus icon-download"></i>icon-download</p>
        <p><i class="venus icon-error"></i>icon-error</p>
        <p><i class="venus icon-esc"></i>icon-esc</p>
        <p><i class="venus icon-facebook"></i>icon-facebook</p>
        <p><i class="venus icon-flag thick"></i>icon-flag thick</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-filter thick"></i>icon-filter thick</p>
        <p><i class="venus icon-globe"></i>icon-globe</p>
        <p><i class="venus icon-graph"></i>icon-graph</p>
        <p><i class="venus icon-heart"></i>icon-heart</p>
        <p><i class="venus icon-home"></i>icon-home</p>
        <p><i class="venus icon-info"></i>icon-info</p>
        <p><i class="venus icon-less"></i>icon-less</p>
        <p><i class="venus icon-link"></i>icon-link</p>
        <p><i class="venus icon-lock"></i>icon-lock</p>
        <p><i class="venus icon-mail"></i>icon-mail</p>
        <p><i class="venus icon-mic"></i>icon-mic</p>
        <p><i class="venus icon-mobile"></i>icon-mobile</p>
        <p><i class="venus icon-move"></i>icon-move</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-phone"></i>icon-phone</p>
        <p><i class="venus icon-pic"></i>icon-pic</p>
        <p><i class="venus icon-pause"></i>icon-pause</p>
        <p><i class="venus icon-play"></i>icon-play</p>
        <p><i class="venus icon-print"></i>icon-print</p>
        <p><i class="venus icon-query"></i>icon-query</p>
        <p><i class="venus icon-qrcode"></i>icon-qrcode</p>
        <p><i class="venus icon-qrframe"></i>icon-qrframe</p>
        <p><i class="venus icon-reload"></i>icon-reload</p>
        <p><i class="venus icon-sad"></i>icon-sad</p>
        <p><i class="venus icon-search"></i>icon-search</p>
        <p><i class="venus icon-send"></i>icon-send</p>
        <p><i class="venus icon-settings"></i>icon-settings</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-suitcase"></i>icon-suitcase</p>
        <p><i class="venus icon-target"></i>icon-target</p>
        <p><i class="venus icon-text"></i>icon-text</p>
        <p><i class="venus icon-ticket"></i>icon-ticket</p>
        <p><i class="venus icon-tickets"></i>icon-tickets</p>
        <p><i class="venus icon-trash"></i>icon-trash</p>
        <p><i class="venus icon-twitter"></i>icon-twitter</p>
        <p><i class="venus icon-unlock"></i>icon-unlock</p>
        <p><i class="venus icon-upload"></i>icon-upload</p>
        <p><i class="venus icon-user"></i>icon-user</p>
        <p><i class="venus icon-wallet"></i>icon-wallet</p>
        <p><i class="venus icon-watch"></i>icon-watch</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-smile"></i>icon-smile</p>
        <p><i class="venus icon-song"></i>icon-song</p>
        <p><i class="venus icon-movie"></i>icon-movie</p>
        <p><i class="venus icon-pencil"></i>icon-pencil</p>
        <p><i class="venus icon-filter"></i>icon-filter</p>
        <p><i class="venus icon-bullet"></i>icon-bullet</p>
        <p><i class="venus icon-calendar"></i>icon-calendar</p>
        <p><i class="venus icon-brush"></i>icon-brush</p>
    </div>
</div>
