<div class="venus row icons-example">
    <div class="venus column two">
        <p><i class="venus icon-add"></i>icon-add</p>
        <p><i class="venus icon-arrow-left"></i>icon-arrow-left</p>
        <p><i class="venus icon-arrow-right"></i>icon-arrow-right</p>
        <p><i class="venus icon-arrow-left"></i>icon-arrow-left</p>
        <p><i class="venus icon-arrow-up"></i>icon-arrow-up</p>
        <p><i class="venus icon-arrow-down"></i>icon-arrow-down</p>
        <p><i class="venus icon-android"></i>icon-android</p>
        <p><i class="venus icon-aler"></i>icon-aler</p>
        <p><i class="venus icon-appl"></i>icon-appl</p>
        <p><i class="venus icon-attach"></i>icon-attach</p>
        <p><i class="venus icon-book"></i>icon-book</p>
        <p><i class="venus icon-bright"></i>icon-bright</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-cam"></i>icon-cam</p>
        <p><i class="venus icon-card"></i>icon-card</p>
        <p><i class="venus icon-chat"></i>icon-chat</p>
        <p><i class="venus icon-chec"></i>icon-chec</p>
        <p><i class="venus icon-check-list"></i>icon-check-list</p>
        <p><i class="venus icon-cloc"></i>icon-cloc</p>
        <p><i class="venus icon-clou"></i>icon-clou</p>
        <p><i class="venus icon-director"></i>icon-director</p>
        <p><i class="venus icon-download"></i>icon-download</p>
        <p><i class="venus icon-erro"></i>icon-erro</p>
        <p><i class="venus icon-esc"></i>icon-esc</p>
        <p><i class="venus icon-facebook"></i>icon-facebook</p>
        <p><i class="venus icon-flag"></i>icon-flag</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-filter thick"></i>icon-filter thick</p>
        <p><i class="venus icon-glob"></i>icon-glob</p>
        <p><i class="venus icon-grap"></i>icon-grap</p>
        <p><i class="venus icon-hear"></i>icon-hear</p>
        <p><i class="venus icon-home"></i>icon-home</p>
        <p><i class="venus icon-info"></i>icon-info</p>
        <p><i class="venus icon-less"></i>icon-less</p>
        <p><i class="venus icon-link"></i>icon-link</p>
        <p><i class="venus icon-lock"></i>icon-lock</p>
        <p><i class="venus icon-mail"></i>icon-mail</p>
        <p><i class="venus icon-mic"></i>icon-mic</p>
        <p><i class="venus icon-mobile"></i>icon-mobile</p>
        <p><i class="venus icon-move"></i>icon-move</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-phon"></i>icon-phon</p>
        <p><i class="venus icon-pic"></i>icon-pic</p>
        <p><i class="venus icon-paus"></i>icon-paus</p>
        <p><i class="venus icon-play"></i>icon-play</p>
        <p><i class="venus icon-prin"></i>icon-prin</p>
        <p><i class="venus icon-quer"></i>icon-quer</p>
        <p><i class="venus icon-qrcode"></i>icon-qrcode</p>
        <p><i class="venus icon-qrframe"></i>icon-qrframe</p>
        <p><i class="venus icon-reload"></i>icon-reload</p>
        <p><i class="venus icon-sad"></i>icon-sad</p>
        <p><i class="venus icon-search"></i>icon-search</p>
        <p><i class="venus icon-send"></i>icon-send</p>
        <p><i class="venus icon-settings"></i>icon-settings</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-suitcase"></i>icon-suitcase</p>
        <p><i class="venus icon-target"></i>icon-target</p>
        <p><i class="venus icon-text"></i>icon-text</p>
        <p><i class="venus icon-ticket"></i>icon-ticket</p>
        <p><i class="venus icon-tickets"></i>icon-tickets</p>
        <p><i class="venus icon-tras"></i>icon-tras</p>
        <p><i class="venus icon-twitter"></i>icon-twitter</p>
        <p><i class="venus icon-undo"></i>icon-undo</p>
        <p><i class="venus icon-unlock"></i>icon-unlock</p>
        <p><i class="venus icon-upload"></i>icon-upload</p>
        <p><i class="venus icon-user"></i>icon-user</p>
        <p><i class="venus icon-wallet"></i>icon-wallet</p>
        <p><i class="venus icon-watc"></i>icon-watc</p>
    </div>
    <div class="venus column two">
        <p><i class="venus icon-smil"></i>icon-smil</p>
        <p><i class="venus icon-song"></i>icon-song</p>
        <p><i class="venus icon-movi"></i>icon-movi</p>
        <p><i class="venus icon-pencil"></i>icon-pencil</p>
        <p><i class="venus icon-flag thick"></i>icon-flag thick</p>
        <p><i class="venus icon-filter"></i>icon-filter</p>
        <p><i class="venus icon-bullet"></i>icon-bullet</p>
        <p><i class="venus icon-calendar"></i>icon-calendar</p>
        <p><i class="venus icon-brus"></i>icon-brus</p>
    </div>
</div>
