@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

body {
  font-size: 100%; }

.button, button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  white-space: nowrap;
  line-height: normal;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-size: 16px;
  font-family: Lato, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 0px;
  padding: 14px 45px;
  min-width: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
  text-align: center;
  position: relative;
  -webkit-animation: fadeIn 1s; }
  .button:hover, button:hover {
    background: #0daadd;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
  .button:active, button:active {
    outline: 0;
    background-image: none;
    padding: 14px 45px 17px; }
  .button:focus, button:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
  .button.ng-leave, button.ng-leave {
    -webkit-animation: fadeOut 1s; }
  .button.blue, button.blue {
    -webkit-text-shadow: 0 1px #0091c9;
    -moz-text-shadow: 0 1px #0091c9;
    -ms-text-shadow: 0 1px #0091c9;
    text-shadow: 0 1px #0091c9;
    background: #00a5db;
    border-bottom: 3px solid #008bc1; }
    .button.blue:hover, button.blue:hover {
      background: #0daadd; }
    .button.blue:active, button.blue:active {
      background: #0daadd;
      border-bottom: 0; }
  .button.orange, button.orange {
    -webkit-text-shadow: 0 1px #ec820a;
    -moz-text-shadow: 0 1px #ec820a;
    -ms-text-shadow: 0 1px #ec820a;
    text-shadow: 0 1px #ec820a;
    background: #fca311;
    border-bottom: 3px solid #ec820a; }
    .button.orange:hover, button.orange:hover {
      background: #fca81d; }
    .button.orange:active, button.orange:active {
      background: #fca81d;
      border-bottom: 0; }
  .button.wide, button.wide {
    display: block;
    width: 100%; }
