//
// Input groups
// --------------------------------------------------

.input-group {
    position: relative; // For dropdowns
    display: table;
    border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

    // Undo padding and float of grid classes
    &[class*="aph column"] {
        float: none;
        padding-left: 0;
        padding-right: 0;
    }

    // Display as table-cell
    // -------------------------
    .input-group-addon,
    .input-group-button,
    .input-group .input {
        display: table-cell;

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }
    // Addon and addon wrapper for buttons
    .input-group-addon,
    .input-group-button {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle; // Match the inputs
    }

    // Text input groups
    // -------------------------
    .input-group-addon {
        padding: 6px 12px 7px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        color: $color-grey;
        text-align: center;
        background-color: $color-white;
        border: 1px solid $color-grey;
        @include border-radius(3px);

        // Nuke default margins from checkboxes and radios to vertically center within.
        input[type="radio"],
        input[type="checkbox"] {
            margin-top: 0;
        }

        + .input {
            margin-left: -1px;
        }
    }

    .input {
        margin-bottom: 0;

        + .input-group-addon {
            margin-right: -1px;
        }
    }

}

// Reset rounded corners
.input-group .input:first-child,
.input-group-addon:first-child,
.input-group-button:first-child > .button,
.input-group-button:first-child > .button-group > .button,
.input-group-button:last-child > .button:not(:last-child):not(.dropdown-toggle),
.input-group-button:last-child > .button-group:not(:last-child) > .button {
    @include border-radius-right(0);
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group .input:last-child,
.input-group-addon:last-child,
.input-group-button:last-child > .button,
.input-group-button:last-child > .button-group > .button,
.input-group-button:last-child > .dropdown-toggle,
.input-group-button:first-child > .button:not(:first-child),
.input-group-button:first-child > .button-group:not(:first-child) > .button {
    @include border-radius-left(0);
}
.input-group-addon:last-child {
    border-left: 0;
}

// Button input groups
.input-group-button {
    position: relative;
    // Jankily prevent input button groups from wrapping with `white-space` and
    // `font-size` in combination with `inline-block` on buttons.
    font-size: 0;
    white-space: nowrap;

    // Negative margin for spacing, position for bringing hovered/focused/actived
    // element above the siblings.
    > .button {
        position: relative;
        min-width: auto;

        + .button {
            margin-left: -1px;
        }
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
    }

    // Negative margin to only have a 1px border between the two
    &:first-child {
        > .button,
        > .button-group {
            margin-right: -1px;
        }
    }
    &:last-child {
        > .button,
        > .button-group {
            z-index: 2;
            margin-left: -1px;
        }
    }
}
