<div class="aph form__custom-select">

    <input type="text"
           class="aph form__custom-select__input"
           id="{{ id }}"
           data-ng-model="ngModel"
           data-ng-required="ngRequired"
           data-ng-disabled="ngDisabled" />

    <div class="aph form__custom-select__toggle"
         data-ng-class="{
             'form__custom-select__toggle--active'     : open,
             'form__custom-select__toggle--placeholder': !ngModel,
             'form__custom-select__toggle--disabled'   : ngDisabled
         }"
         data-ng-click="toggle()">
        {{ toggleText }}
    </div>

    <ul class="aph form__custom-select__list"
        data-ng-show="open">

        <li class="aph form__custom-select__list__option"
            data-ng-click="selectOption({ optionsValue: false })">
            {{ placeholder }}
        </li>

        <li class="aph form__custom-select__list__option"
            data-ng-repeat="option in options"
            data-ng-click="selectOption(option)"
            data-ng-bind="option[optionsLabel]">
        </li>

    </ul>

</div>
