<fieldset class="venus form__fieldset"
          data-ng-class="{ 'form__fieldset--hidden': !opened }">

    <legend class="venus form__fieldset__legend"
            data-ng-click="opened = !opened">
        {{ legend }}

        <span data-ng-if="!legend && legendOpened && legendClosed">
            {{ opened ? legendOpened : legendClosed }}
        </span>
    </legend>

    <div class="venus form__fieldset__content"
         data-ng-show="opened"
         data-ng-transclude>
    </div>

</fieldset>
