<div data-ng-if="!array">
    <input type="checkbox"
           class="venus selector__input"
           id="selector-{{ randomId }}"
           name="{{ name }}"
           data-ng-model="$parent.ngModel"
           data-ng-attr-value="{{ value || undefined }}"
           data-ng-required="ngRequired"
           data-ng-checked="isChecked"
           data-is-checked="{{ isChecked }}"
           />
    <label for="selector-{{ randomId }}"
           class="venus selector__label">
        <span class="venus selector__label__prefix"
              data-ng-if="prefix">
            {{ prefix }}
        </span>
        {{ title }}
    </label>
</div>

<div data-ng-if="array">
    <input type="checkbox"
           class="venus selector__input"
           id="selector-array-{{ randomId }}"
           name="{{ name }}"
           data-ng-value="{{ value }}"
           data-ng-click="checkArray()"
           data-ng-checked="isChecked"
           data-is-checked="{{ isChecked }}"
           />
    <label for="selector-array-{{ randomId }}"
           class="venus selector__label">
        <span class="venus selector__label__prefix"
              data-ng-if="prefix">
            {{ prefix }}
        </span>
        {{ title }}
    </label>
</div>
