<div data-ng-if="!array">
    <input type="checkbox"
           class="venus selector__input"
           id="selector{{ randomId }}"
           data-ng-model="$parent.ngModel"
           data-ng-attr-value="{{ value || undefined }}"
           />
    <label for="selector{{ randomId }}"
           class="venus selector__label">
        <span class="venus selector__label__prefix"
              data-ng-if="prefix">
            {{ prefix }}
        </span>
        {{ title }}
    </label>
</div>

<div data-ng-if="array">
    <input type="checkbox"
           class="venus selector__input"
           id="selectorArray{{ randomId }}"
           data-ng-value="{{ value }}"
           data-ng-click="checkArray()"
           data-ng-checked="isChecked"
           />
    <label for="selectorArray{{ randomId }}"
           class="venus selector__label">
        <span class="venus selector__label__prefix"
              data-ng-if="prefix">
            {{ prefix }}
        </span>
        {{ title }}
    </label>
</div>
