// Docs Header
$this: ".docs-header";

#{$this} {
    display: block;
    padding: 66px 0;

    box-shadow: inset 0 -4px 5px -2px rgba($color-black, .05);

    h1.venus,
    h4.venus,
    .venus.h1,
    .venus.h4 {
        &#{$this} {
            &__title {
                margin: 4px 0 0;
            }

            &__subtitle {
                margin: 10px 0 7px;
            }
        }
    }

    a {
        color: $color-blue;
        text-decoration: none;
    }

    &.bg-blue {
        a {
            color: $color-white;
        }
    }
}

#gridRuler {
    display: none;
}
