$this: ".docs-css";

#{$this} {
    &__grid {
        .box-row {
            min-height: 40px;
            margin    : 0 0 10px;

            color     : $color-white;
            background: $color-blue;
            border    : 4px solid $color-lochmara;

            border-radius: 4px;
        }
    }
}
