<div id="universe">
    <div class="section">
        <h1 class="gigantic-size text white centralized">Venus UI</h1>
        <p class="big-size white text centralized">The most Sexy UI ever.</p>
    </div>

    <div class="section white">
        <h1>Button</h1>

        <div class="button">Button</div>
        <a class="button" href="#">Button</a>
        <button>Button</button>

        <br/><br/>

        <div class="button orange">Button</div>
        <a class="button orange" href="#">Button</a>
        <button class="orange">Button</button>

        <br/><br/>

        <input type="reset"/>
        <input type="submit"/>
        <input type="button" value="Button"/>

        <br/><br/>

        <input class type="reset"/>
        <input type="submit"/>
        <input type="button" value="Button"/>

        <br/><br/>

        <div style="display: inline-block; width: 600px; background: #ccc">
            <input class="wide" type="submit"/>
        </div>

        <h1>Button Disabled</h1>

        <div class="button disabled">Button</div>
        <a class="button disabled" href="#">Button</a>
        <button disabled>Button</button>

        <h1>Button Group</h1>

        <div class="button-group">
            <button class="orange">Button</button>
            <button class="orange">Button</button>
            <button>Button</button>
            <button>Button</button>
        </div>

        <br/><br/>

        <div class="button-group">
            <button class="orange">Button</button>
            <button class="orange">Button</button>
        </div>

        <br/><br/>

        <div class="button-group">
            <button>Button</button>
            <button class=" dropdown"></button>
        </div>

        <div class="button-group">
            <div class="button orange">Button</div>
            <div class="button orange dropdown"></div>
        </div>
    </div>

    <div class="section black">
        <h1>Labels</h1>

        <div class="label">Label</div>
        <a class="label" href="#">Label</a>

        <br/><br/>

        <h1>Form</h1>

        <div style="display: inline-block; width: 400px; text-align: left">
            <form>
                <label>Tittle</label>
                <input type="email" placeholder="Type..." disabled/>
                <label>Invalid</label>
                <input type="email" placeholder="Type your email"/>
                <label>Text</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Type..."></textarea>

                    <input id="check1" type="checkbox" name="check" value="check1">
                    <label for="check1">Checkbox No. 1</label>
                    <input id="check2" type="checkbox" name="check" value="check2">
                    <label for="check2">Checkbox No. 2</label>
                    <input id="check3" type="checkbox" name="check" value="check3" disabled>
                    <label for="check3">Checkbox No. 3</label>
                    <br/>
                    <input id="male" type="radio" name="gender" value="male">
                    <label for="male">Male</label>
                    <input id="female" type="radio" name="gender" value="female" disabled>
                    <label for="female">Female</label>
                    <br/>

                    <label>Tittle</label>
                    <select>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                <br/>
                <label for="">Tittle</label>
                <div class="range">
                    <output id="rangevalue">5</output>
                    <span>0</span><input type="range" min="5" max="50" value="5" step="5" onchange="rangevalue.value=value" /><span>50</span>
                </div>

            </form>
        </div>
    </div>
</div>