<div id="universe">
    <div venus-activity-indicator></div>
    <div class="venus section">
        <h1 class="venus gigantic-size text white centralized">Venus UI</h1>
        <p class="venus big-size white text centralized">Ingresse UI FrameworK</p>
    </div>

    <div class="venus section white">
      <div class="venus container">
        <div class="grid-style">
          <h1 class="venus">Grid</h1>
          <p>Create mult-device layouts quickly and easily with the deafult twelve column, making for a 940px wide container with responsive features enabled.</p>

          <article>
            <h2 class="venus">Basic</h2>
            <p>For a simple two column layout, create a <code>.row</code> and add the appropriate number of columns.</p>
            <code-show render="true" file="/views/code-examples/grid-basic.html"></code-show>
            <p>The above code sets all columns in mobile mode in standard full width. To control the columns in Mobile mode, you must use the following code.</p>
            <p>The mobile grid suport four columns: <code>.mob-one</code>, <code>.mob-two</code>, <code>.mob-three</code> and <code>.mob-four</code>.
            <code-show file="views/code-examples/grid-mobile.html"></code-show>
          </article>

          <article>
            <h2 class="venus">Offsetting columns</h2>
            <p>Move columns to the right, using <code>.offset-*</code> classes. Each class increases the left margin of column by a whole column. For example <code>.offset-4</code> moves column <code>.column .four</code> over four columns.</p>
            <code-show render="true" file="views/code-examples/grid-offset.html"></code-show>
          </article>

          <article>
            <h2 class="venus">Centralizing columns</h2>
            <p>To center columns is very easy, just add the tag <code>.centered</code> and be happy.</p>
            <code-show render="true" file="views/code-examples/grid-centralized.html"></code-show>
          </article>

          <article>
            <h2 class="venus">Adaptive grids</h2>
            <p>By default the tag container, keeps a fixed grid of 940px. But it is possible to expand this grid, for use on larger monitors as well, and if you want to build a specific layout for tablets.</p>

            <p>Adding the tag <code>.transmute-grid</code>, the container will expand according to the size of the monitors used. Enabling the grid to behave more columns, going from 12 to 20 columns.</p>
            <code-show file="views/code-examples/grid-adaptive.html"></code-show>

            <p>To use the grid of 8 columns specific to tablets, just add the tag to the container <code>.transmute-grid-mob</code></p>
            <code-show file="views/code-examples/grid-adaptive-tablet.html"></code-show>
          </article>
        </div>

          <article>
            <h1 class="venus">Text</h1>
            <p>To style the text just add the class <code>.venus</code></p>
            <br/><br/>
            <code-show render="true" file="views/code-examples/text.html"></code-show>
          </article>

          <article>
            <h1 class="venus">Header</h1>
            <p>We have a default header</p>
            <code-show render="true" file="views/code-examples/header.html"></code-show>
          </article>


          <article>
            <h1 class="venus">Icons</h1>
            <p>The Venus UI kit have a collection of icon fonts, ready for use.</p>
            <code-show render="true" file="views/code-examples/icon.html"></code-show>
          </article>

          <article>
            <h1 class="venus">Button</h1>
            <p>to use the style buttons Venus UI Kit, just add class <code>.venus .button</code></p>
            <code-show render="true" file="views/code-examples/button.html"></code-show>
            <p>for the orange button, just add the class <code>.orange</code></p>
            <code-show render="true" file="views/code-examples/button-orange.html"></code-show>

            <br/><br/>
            <p>For expand button, just add the class <code>.wide</code></p>
            <code-show render="true" file="views/code-examples/button-wide.html"></code-show>


            <h2 class="venus">Button Disabled</h2>
            <p>For disabled button, just add the class<code>.disabled</code></p>
            <code-show render="true" file="views/code-examples/button-disabled.html"></code-show>

            <h2 class="venus">Button Group</h2>
            <p>It is possible to create grouping of buttons</p>
            <code-show render="true" file="views/code-examples/button-group.html"></code-show>

            <br/><br/>
            <code-show render="true" file="views/code-examples/button-group-orange.html"></code-show>


            <br/><br/>
            <code-show render="true" file="views/code-examples/button-dropdown.html"></code-show>


            <br/><br/>
            <code-show render="true" file="views/code-examples/button-dropdown-orange.html"></code-show>
          </article>

          <article>
            <h1 class="venus">Labels</h1>
            <p>To style the labels, you only need to add the class <code>.venus .label</code></p>
            <code-show render="true" file="views/code-examples/label.html"></code-show>
          </article>


          <article>
            <h1 class="venus">Progress Bar</h1>
            <p>Whe have two sizes of progress bar, the deafult size and <code>.small</code> and five colors option <code>.blue .orange .pink .green .purple</code> </p>
            <code-show render="true" file="views/code-examples/progress.html"></code-show>
          </article>
      </div>

    <div class="venus section black">
      <div class="venus container">


      <br/><br/>
      <h1 class="venus">Form</h1>
      <p>Create forms is very easy, just add the class <code>.venus</code> in the form</p>
      <code-show render="true" file="views/code-examples/form.html"></code-show>

      <form class="venus">
        <br/><br/>
        <code-show render="true" file="views/code-examples/input-radio.html"></code-show>

        <br/><br/>
        <label>Tittle</label>
        <code-show render="true" file="views/code-examples/select.html"></code-show>

        <br/><br/>
        <label for="">Volume</label>
        <code-show render="true" file="views/code-examples/range.html"></code-show>
      </form>
    </div>

    <!-- <div class="venus section white">
        <div class="venus popover-container item">
            <p>Esse texto tem um popover que vai aparecer na parte de cima, passa o mouse aqui ;)</p>
            <div venus-popover width="200px" height="70px" side="top">
                <p>Olha eu aqui, não te falei que tinha um popover aqui!</p>
            </div>
        </div>
        <div class="venus code">
            <textarea>
<div class="venus popover-container">
    <p>Esse texto tem um popover que vai aparecer na parte de cima, passa o mouse aqui ;)</p>
    <div venus-popover width="200px" height="70px" side="top">
        <p>Olha eu aqui, não te falei que tinha um popover aqui!</p>
    </div>
</div>
            </textarea>
        </div>

        <div class="venus popover-container item">
            <p class="step-icon-1">Olha o Mussum que vai aparecer embaixo, passa o mouse aqui cacilds!</p>
            <div venus-popover width="200px" height="200px" side="bottom">
                <img src="http://i3.kym-cdn.com/photos/images/masonry/000/370/141/f91.jpg" alt="">
            </div>
        </div>
        <div class="venus code">
            <textarea>
<div class="venus popover-container">
    <p>Olha o Mussum que vai aparecer embaixo, passa o mouse aqui cacilds!</p>
    <div venus-popover width="200px" height="200px" side="bottom">
        <img src="http://i3.kym-cdn.com/photos/images/masonry/000/370/141/f91.jpg" alt="">
    </div>
</div>
            </textarea>
        </div>


        <div class="venus popover-container item">
            <p>Olha o Mussum que vai aparecer na direita, passa o mouse aqui cacilds!</p>
            <div venus-popover width="200px" height="200px" side="right">
                <img src="http://i3.kym-cdn.com/photos/images/masonry/000/370/141/f91.jpg" alt="">
            </div>
        </div>
        <div class="venus code">
            <textarea>
<div class="venus popover-container">
    <p>Olha o Mussum que vai aparecer na direita, passa o mouse aqui cacilds!</p>
    <div venus-popover width="200px" height="200px" side="right">
        <img src="http://i3.kym-cdn.com/photos/images/masonry/000/370/141/f91.jpg" alt="">
    </div>
</div>
            </textarea>
        </div>

        <div class="venus popover-container item">
            <p>Olha o Mussum que vai aparecer na esquerda, passa o mouse aqui cacilds!</p>
            <div venus-popover width="200px" height="200px" side="left">
                <img src="http://i3.kym-cdn.com/photos/images/masonry/000/370/141/f91.jpg" alt="">
            </div>
        </div>
        <div class="venus code">
            <textarea>
<div class="venus popover-container">
    <p>Olha o Mussum que vai aparecer na esquerda, passa o mouse aqui cacilds!</p>
    <div venus-popover width="200px" height="200px" side="left">
        <img src="http://i3.kym-cdn.com/photos/images/masonry/000/370/141/f91.jpg" alt="">
    </div>
</div>
            </textarea>
        </div>

    </div> -->
    <!-- <div class="venus section black">
        <div venus-breadcrumbs steps="steps"></div>
    </div> -->
    </div>
</div>
