/*  BREADCRUMBS */
.venus{
    .breadcrumbs{
        color: #FFF;
        text-align: center;
        overflow: auto;
        margin: auto;
        padding: 0px;
        font-weight: normal;
        font-size: 12px;
        line-height: 36px;
        width: 450px;
        .item{
            display: inline-block;
            cursor: pointer;
            border-radius: 22px;
            margin-right: 2%;
            border: 1px solid #FFF;
            padding: 0 15px;;
            &.active{
                background: #FFF !important;
                color: #000 !important;
                padding: 0 15px !important;
            }
            &.done{
                background: rgb(57, 196, 57);
                color: #000;
                border: none;
                padding: 0 15px 0 40px;
                background-image: url(check-mark.png);
                background-position: 14px center;
                background-repeat: no-repeat;
            }
        }
    }
}