/* TOGGLE BUTTONS */

.venus {
  &.button-toggle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    > input[type="checkbox"], input[type="radio"] {
      display: inline-block;
    }
    > input[type="checkbox"] + label, input[type="radio"] +label {
      &:before {
        display: none;
      }
    }
    > .toggle {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }
    > .toggle + label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      font-size: 14px;
      min-width: 74px;
      text-align: center;
      background: #ffffff;
      color: $seashore;
      border: 1px solid $seashore;
      padding: 6px 14px 4px;
      &:first-of-type {
        margin-left: 0;
        @include border-radius-left(3px);
      }
      &:not(:first-child):not(:last-child) {
        margin-right: -6px;
      }
      &:last-child {
        @include border-radius-right(3px);
      }
    }
    > .toggle:checked + label {
      background: $seashore;
      color: #ffffff;
    }
    > input[type="radio"].toggle + label {
      min-width: 50px;
      padding: 6px 8px 4px;
    }
  }
}
