//Default Colors

$sunshine: #fca311;
$honeycomb: #ec820a;

$seashore: #00a5db;
$sky: #008bc1;

$grass: #60c659;
$pea: #19ae35;

$rose: #f13335;
$tomato: #c41f1f;

$sunflower: #ffc61e;
$chick: #d09d0c;

$ice: #f8f8f8;
$cloud: #d4d7d9;

$misty: #aeb4b8;
$blurry: #9da6ad;

$twilight: #7a8085;
$darkness: #333;

$text-default-color: $darkness;

//Buttons Colors

$text-button-color: #fff;

//Button Blue

$button-blue-background: $seashore;
$button-blue-border: $sky;
$button-blue-hover: #0daadd;
$button-blue-text-shadow: #0091c9;

//Button Orange

$button-orange-background: $sunshine;
$button-orange-border: $honeycomb;
$button-orange-hover: #fca81d;
$button-orange-text-shadow: #ec820a;

//Button Disabled

$button-disabled: #d3d7d8;
$button-disabled-border: #adb7b7;
$button-disabled-text-shadow: #f8f8f8;

$button-group-border: rgba(0, 0, 0, 0.18);

//Label

$label-font-color: $seashore;
$label-border-color: $seashore;
$label-focus-background: #ccedf8;

//Form
$input-border-color: $blurry;
$input-placeholder-color: $misty;
$input-border-focus-color: $seashore;
$input-invalid-text: #d62828;
$input-invalid-border: $rose;
$input-disabled-background: $ice;
$input-disabled-border: $cloud;
$input-disabled-text: $cloud;


//Alerts
$alert-defaul-background: #fff;
$alert-default-color: $chick;
$alert-green-color: $pea;
$alert-red-color: $tomato;
$alert-blue-color: $sky;

//Icons
$icon-color-blue: $sky;
$icon-color-disabled: $misty;
$icon-color-dark: #2d2d2d;

//Steps
$step-active: $sky;
$step-disabled: $misty;

//Pagination
$pagination-color: $sky;
$pagination-disabled: $misty;
