@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@font-face {
  font-family: 'VenusGlyphs-Regular';
  src: url('fonts/VenusGlyphs-Regular.eot?') format('eot'),
       url('fonts/VenusGlyphs-Regular.otf')  format('opentype'),
       url('fonts/VenusGlyphs-Regular.woff') format('woff'),
       url('fonts/VenusGlyphs-Regular.ttf')  format('truetype'),
       url('fonts/VenusGlyphs-Regular.svg#VenusGlyphs-Regular') format('svg');
}

$text-default-color: #000;

body {
  background: #f6f6f6;
  font-size: 87.5%;
  color: $text-default-color;
  @include font-family-default;
  line-height: 1.429;
}

// Links

a {
  color: $seashore;
  text-decoration: none;
  &:link,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: $seashore;
  }
}

// Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include font-family-default;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: inherit;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: 34px; font-size: 2.125rem; }
h2, .h2 { font-size: 30px; font-size: 1.875rem; }
h3, .h3 { font-size: 26px; font-size: 1.625rem; }
h4, .h4 { font-size: 22px; font-size: 1.375rem; }
h5, .h5 { font-size: 18px; font-size: 1.125rem; }
h6, .h6 { font-size: 14px; font-size: 0.875rem; }

// Body text

p {
  margin: 0;
  line-height: 1.429;
}

p + p, img + p {
  margin-top: 20px;
}

small,
.small {
  font-size: 85%;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  .list-unstyled {
    margin-left: -5px;
  }

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}




