//Actions

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-right($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-topright: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-left($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-topleft: $radius;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  -ms-text-shadow: $shadow;
  text-shadow: $shadow;
}

//Fonts

@mixin font-size-default {
  font-size: 1rem;
  font-size: 0.875px;
  font-family: Lato, sans-serif;
}

@mixin font-size-label {
  font-size: 0.750rem;
  font-size: 12px;
}

@mixin font-family-default {
  font-family: Lato, sans-serif;
}

//Forms

$input-height-base: 40px;
$input-padding-base: 14px 12px;

@mixin font-size-placeholder {
  font-size: 0.875rem;
  font-size: 14px;
}

@mixin placeholder-style {
  color: $input-placeholder-color;
  @include font-size-placeholder;
  font-style: italic;
}

@mixin font-size-alerts {
  font-size: 0.875rem;
  font-size: 14px;
}

@mixin font-size-steps {
  font-size: 0.875rem;
  font-size: 14px;
}

@mixin font-size-pagination {
  font-size: 0.875rem;
  font-size: 14px;
}