//Actions

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-right($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-topright: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-left($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-topleft: $radius;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  -ms-text-shadow: $shadow;
  text-shadow: $shadow;
}

//Fonts

@mixin font-size-default {
  font-size: 1rem;
  font-size: 16px;
}

@mixin font-size-label {
  font-size: 0.750rem;
  font-size: 12px;
}

@mixin font-family-default {
  font-family: Lato, sans-serif;
}

//Forms

$input-height-base: 40px;
$input-padding-base: 14px 12px;

@mixin font-size-placeholder {
  font-size: 0.875rem;
  font-size: 14px;
}

@mixin placeholder-style {
  color: $input-placeholder-color;
  @include font-size-placeholder;
  font-style: italic;
}

@mixin font-size-alerts {
  font-size: 0.875rem;
  font-size: 14px;
}

@mixin font-size-steps {
  font-size: 0.875rem;
  font-size: 14px;
}

@mixin font-size-pagination {
  font-size: 0.875rem;
  font-size: 14px;
}

// Blur Background

:root .gaussian-blur input,
:root .gaussian-blur textarea,
:root .gaussian-blur button,
:root .gaussian-blur select
{
  box-shadow: 0 0 10px rgba(0, 0, 0, .5) !important;
  border-color: rgba(0, 0, 0, .05) !important;
  resize: none !important;
  opacity: .5 !important;
}

:root .gaussian-blur img,
:root .gaussian-blur input,
:root .gaussian-blur input[type="file"],
:root .gaussian-blur input[type="checkbox"],
:root .gaussian-blur input[type="radio"]
:root .gaussian-blur textarea,
:root .gaussian-blur select
{
  opacity: .2 !important;
  background: transparent none !important;
}

:root .gaussian-blur fieldset
{
  border-color: transparent !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  :root .gaussian-blur img
  {
    -webkit-filter: blur(15px) !important;
    filter: blur(15px) !important;
    opacity: 1 !important;
  }
}

:root .gaussian-blur img
{
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=20)\9 !important; /* IE has native support for filters since version 5.5 */
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=20)\9 !important; /* IE has native support for filters since version 5.5 */
  opacity: 1\9 !important;
}

:root .gaussian-blur *
{
  color: #ccc !important\9;
}
