.venus{
    &.popover{
        // Estilo geral
        background-color: #2d2d2d;
        padding:10px;
        border-radius: 5px;
        color: #FFF;
        display: block;
        position: absolute;
        -webkit-animation: fadeIn 1s;
        img{
            height: 100%;
        }
        p{
            margin: 0px;
        }
        .pointer{
            width: 20px;
            display: block;
            height: 20px;
            position: absolute;
            &.top{
                bottom: -20px;
                background-image: url(../images/popover-bottom.png);
            }
            &.bottom{
                top: -20px;
                background-image: url(../images/popover-top.png);
            }
            &.right{
                left: -20px;
                background-image: url(../images/popover-left.png);
            }
            &.left{
                right: -20px;
                background-image: url(../images/popover-right.png);
            }
        }
    }
    &.popover-container{
        position:relative;
    }
}