.venus {
  .steps {
    padding: 12px 0 40px;
    list-style: none;
    @include font-size-steps;
    color: $step-active;
    > li {
      display: inline-block;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
    .active {
      @include font-size-default;
      font-weight: bold;
    }
    .disabled {
      color: $step-disabled;
    }
    [class*="step-icon-"] {
      margin-right: 10px;
      &.s40 {
        line-height: 40px;
        position: relative;
        bottom: -14px;
      }
      &.s30 {
        line-height: 30px;
        position: relative;
        bottom: -8px;
      }
    }
  }
}