$sunshine: #fca311;
$honeycomb: #ec820a;

$seashore: #00a5db;
$sky: #008bc1;

$grass: #60c659;
$pea: #19ae35;

$rose: #f13335;
$tomato: #c41f1f;

$sunflower: #ffc61e;
$chick: #d09d0c;

$ice: #f8f8f8;
$cloud: #d4d7d9;

$misty: #aeb4b8;
$blurry: #9da6ad;

$twilight: #7a8085;
$darkness: #2d2d2d;