label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  padding: $input-padding-base;
  @include border-radius(3px);
  border: 1px solid $input-border-color;
  line-height: 1;
  margin-bottom: 40px;
  &::-webkit-input-placeholder {
    @include placeholder-style;
  }
  &:-moz-placeholder {
    @include placeholder-style;
  }
  &::-moz-placeholder {
    @include placeholder-style;
  }
  &:-ms-input-placeholder {
    @include placeholder-style;
  }
  &:focus {
    outline: none;
    border-color: $input-border-focus-color;
  }
  &:invalid,
  &.invalid {
    color: $input-invalid-text;
    border-color: $input-invalid-border;
  }
  &:disabled,
  .disabled {
    color: $input-disabled-text;
    border-color: $input-disabled-border;
    background: $input-disabled-background;
    &::-webkit-input-placeholder {
      color: $input-disabled-text;
    }
    &:-moz-placeholder {
      color: $input-disabled-text;
    }
    &::-moz-placeholder {
      color: $input-disabled-text;
    }
    &:-ms-input-placeholder {
      color: $input-disabled-text;
    }
  }
}

input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 20px;
  + label {
    font-size: 14px;
    display: block;
    margin: 0;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background: #ffffff;
      border: 1px solid $input-border-color;
      @include border-radius(3px);
      left: -10px;
      bottom: 3px;
    }
  }
  &:checked + label {
    &:after {
      line-height: 1.5;
      text-align: center;
      content: "\2713";
      color: #ffffff;
      border-color: $input-border-focus-color;
      background: $input-border-focus-color;
    }
  }
}





