label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  padding: $input-padding-base;
  @include border-radius(3px);
  border: 1px solid $input-border-color;
  line-height: 1;
  margin-bottom: 40px;
  &::-webkit-input-placeholder {
    @include placeholder-style;
  }
  &:-moz-placeholder {
    @include placeholder-style;
  }
  &::-moz-placeholder {
    @include placeholder-style;
  }
  &:-ms-input-placeholder {
    @include placeholder-style;
  }
  &:focus {
    outline: none;
    border-color: $input-border-focus-color;
  }
  &:invalid,
  &.invalid {
    color: $input-invalid-text;
    border-color: $input-invalid-border;
  }
  &:disabled,
  .disabled {
    color: $input-disabled-text;
    border-color: $input-disabled-border;
    background: $input-disabled-background;
    &::-webkit-input-placeholder {
      color: $input-disabled-text;
    }
    &:-moz-placeholder {
      color: $input-disabled-text;
    }
    &::-moz-placeholder {
      color: $input-disabled-text;
    }
    &:-ms-input-placeholder {
      color: $input-disabled-text;
    }
  }
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 14px;
  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $input-border-color;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: transparent;
    @include border-radius(3px);
  }
}

input[type="checkbox"]:checked + label:before {
  @include font-size-default;
  content: "\2713";
  color: #ffffff;
  text-align: center;
  line-height: 1.2;
  background: $input-border-focus-color;
  border-color: $input-border-focus-color;
}

input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label {
  color: $input-disabled-text;
  cursor: default;
}

input[type="checkbox"]:disabled + label:before, input[type="radio"]:disabled + label:before {
  background: $input-disabled-background;
  border-color: $input-disabled-border;
  cursor: default;
}

input[type="radio"] + label {
  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $input-border-color;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: transparent;
    @include border-radius(1000px);
  }
}

input[type=radio]:checked + label:before {
  content: "\2b24";
  color: $input-border-focus-color;
  color: $input-border-focus-color;
  line-height: 1.3;
  text-align: center;
  border-color: $input-border-focus-color;
}





