#universe{
    background-image: url(/images/venus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
}

.venus{
    &.code{
        font-family: monospace;
        font-size: 14px;
        color: #FFF;
        background: #232323;
        border-radius: 5px;
        padding:20px;
        margin-top: 10px;
        textarea{
            background: transparent;
            font-family: inherit;
            border:none;
            width: 100%;
            height: 150px;
            padding:0px;
            outline: none;
        }
    }
    &.activity-indicator{
        position: fixed;
        bottom: 0px;
        left: 0px;
    }

    &.section{
        padding: 50px 20%;
        min-height: 100%;

        &.white{
          background: rgba(255, 255, 255, 0.8);
          color: #000;
        }

        &.black{
          background: rgba(0, 0, 0, 0.8);
          color: #FFF;
        }
    }

    &.text{
        font-family: Lato, sans-serif;

        &.big-size{
            font-size: 32px;
            text-shadow: 0 0 5px #000;
        }

        &.gigantic-size{
            font-size: 72px;
            text-shadow: 0 0 5px #000;
            border-bottom: 1px solid;
            margin-top: 40px;
        }

        &.white{
            color: #FFF;
        }

        &.black{
            color: #000;
        }

        &.centralized{
            text-align: center;
        }
    }
}