/* ALERTS */
$this: ".venus.alert";

#{$this} {
    position: relative;

    display: block;
    padding: 14px 15px;

    vertical-align: middle;

    font-size  : 16px;
    line-height: 1.25;
    text-align : center;

    background: rgba($color-white, .9);

    color : $color-blue;
    border: 1px solid $color-blue;
    @include border-radius(3px);

    animation: fadeIn .5s;

    transition: .15s line-height linear;

    &--dismissable {
        padding-right: 30px;
    }

    &__dismiss {
        position: absolute;

        top  : 15px;
        right: 13px;

        width  : 20px;
        height : 20px;
        padding: 2px;

        font-weight: 100;
        font-size  : 18px;
        line-height: .8;
        cursor     : pointer;

        border          : 0;
        outline         : 0;

        background-color   : transparent;
        background-image   : url("#{map-get($path-assets, icons)}/icon--close--blue.svg");
        background-repeat  : no-repeat;
        background-position: center center;
        background-size    : 10px;

        @include border-radius(50%);

        color: $color-blue;
    }

    &--green {
        color       : $color-green;
        border-color: $color-green;

        #{$this}__dismiss {
            color: $color-green;
            background-image: url("#{map-get($path-assets, icons)}/icon--close--green.svg");
        }
    }

    &--yellow {
        color       : $color-lightning-yellow;
        border-color: $color-lightning-yellow;

        #{$this}__dismiss {
            color: $color-lightning-yellow;
            background-image: url("#{map-get($path-assets, icons)}/icon--close--yellow.svg");
        }
    }

    &--red {
        color       : $color-red;
        border-color: $color-red;

        #{$this}__dismiss {
            color: $color-red;
            background-image: url("#{map-get($path-assets, icons)}/icon--close--red.svg");
        }
    }

    &-container {
        display: block;
        margin : 0 0 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &.ng-hide {
        line-height: 0;
        animation  : fadeOut .15s;
    }
}
