$this: ".venus.container";

#{$this} {
    padding-right: #{$container-horizontal-padding};
    padding-left : #{$container-horizontal-padding};
}


// Flexgrid override
$this: ".row";

#{$this} {
    &[class*="center-"] {
        text-align: inherit;
    }
}
