@font-face {
  font-family: "VenusGlyphs-Regular";
  src: url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.eot");
  src: local("☺"),
      url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.svg#VenusGlyphs-Regular") format("svg"),
      url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.woff") format("woff"),
      url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.woff2") format("woff2"),
      url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.ttf") format("truetype");
}

$text-default-color: $color-black;

body.venus {
  @include font-family-default;
  font-size  : 100%;
  line-height: 1.5;
}

// Links
a.venus:not(.button) {
  color: $color-blue;
  text-decoration: none;
  cursor: pointer;
  @include transition();

  &.active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

.venus.link {
  color: $seashore;
  text-decoration: none;
  background: none;
  border: 0;
  padding: 0;
  &:link,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: $seashore;
    outline: 0;
  }
}

// Headings

h1, h1.venus, h2, h2.venus, h3, h3.venus, h4, h4.venus, h5, h5.venus, h6, h6.venus,
.venus.h1, .venus.h2, .venus.h3, .venus.h4, .venus.h5, .venus.h6 {
  @include font-family-default;
  font-weight: 400;
  line-height: 1;

  small.venus,
  .venus.small {
    font-weight: normal;
    line-height: 1;
    color: inherit;
  }
}

h1, h1.venus, .h1.venus,
h2, h2.venus, .h2.venus,
h3, h3.venus, .h3.venus {
  margin-top: 20px;
  margin-bottom: 10px;

  small.venus,
  .venus.small {
    font-size: 65%;
  }
}
h4, h4.venus, .venus.h4,
h5, h5.venus, .venus.h5,
h6, h6.venus, .venus.h6 {
  margin-top: 10px;
  margin-bottom: 10px;

  small.venus,
  .venus.small {
    font-size: 75%;
  }
}

h1.venus, .venus.h1 { font-size: 60px; }
h2.venus, .venus.h2 { font-size: 52px; }
h3.venus, .venus.h3 { font-size: 44px; }
h4.venus, .venus.h4 { font-size: 34px; }
h5.venus, .venus.h5 { font-size: 28px; }
h6.venus, .venus.h6 { font-size: 20px; }

// Body text

p.venus {
  margin: 10px 0;
  line-height: 1.5;
}

p.venus + p, img.venus + p {
  margin-top: 10px;
}

small.venus,
.venus.small {
  font-size: 85%;
}

.venus.minimal {
    @include font-size-minimal;
}

// Alignment
.venus.text-left           { text-align: left; }
.venus.text-right          { text-align: right; }
.venus.text-center         { text-align: center; }
.venus.text-justify        { text-align: justify; }

// Style
.venus.text-italic        { font-style: italic; }
.venus.text-bold          { font-weight: bold; }
.venus.text-normal        { font-weight: 400; font-style: normal; }
.venus.text-underline     { text-decoration: underline; }

// Lists
// -------------------------

// Unordered and Ordered lists
ul.venus,
ol.venus {
  margin-top: 0;
  margin-bottom: 10px;
  ul.venus,
  ol.venus {
    margin-bottom: 0;
  }
}

// List options

.venus.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.venus.list-inline {
	.venus.list-unstyled {
    margin-left: -5px;
  }

  > li.venus {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl.venus {
  margin-top: 0;
  margin-bottom: 20px;
}
dt.venus,
dd.venus {
  line-height: 20px;
}
dt.venus {
  font-weight: bold;
}
dd.venus {
  margin-left: 0;
}

// Mobile version

@include phoneAndTablet {
  h1.venus, .venus.h1 { font-size: 32px; }
  h2.venus, .venus.h2 { font-size: 28px; }
  h3.venus, .venus.h3 { font-size: 24px; }
  h4.venus, .venus.h4 { font-size: 20px; }
  h5.venus, .venus.h5 { font-size: 20px; }
  h6.venus, .venus.h6 { font-size: 20px; }
}
