// Roboto Font Family from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

// Venus Icons Font
@font-face {
    font-family: "VenusGlyphs-Regular";
    src        : url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.eot");
    src        : local("☺"),
                    url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.svg#VenusGlyphs-Regular") format("svg"),
                    url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.woff") format("woff"),
                    url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.woff2") format("woff2"),
                    url("#{map-get($path-assets, fonts)}/VenusGlyphs-Regular.ttf") format("truetype");
}

// Body
body.venus {
    font-family: $font-family;
    font-size  : $font-size;
    line-height: $line-height;
    font-weight: $font-weight;

    color: $color-black;
}

// Links
a.venus:not(.btn) {
    color : $color-blue;
    cursor: pointer;

    text-decoration: none;
    @include transition();

    &.active,
    &:hover,
    &:focus {
        outline: 0;
    }
}

.venus.link {
    color  : $color-blue;
    border : 0;
    padding: 0;

    text-decoration: none;
    background     : none;

    &:link,
    &:visited,
    &:active,
    &:hover,
    &:focus {
        color  : $color-lochmara;
        outline: 0;
    }
}

// Headings
h1,
h2,
h3 {
    &.venus {
        font-weight: $font-weight;
        padding    : 0;

        &.heavy {
            font-weight: 900;
        }

        &.support {
            font-weight: 700;
            font-family: "Kalam", cursive;
        }

        small.venus,
        .venus.small {
            font-size: 65%;
        }
    }
}

h1.venus {
    font-size  : 32px;
    line-height: 40px;

    margin: 29px 0 11px;

    &.heavy {
        font-size  : 60px;
        line-height: 60px;
    }
}

h2.venus {
    font-size  : 27px;
    line-height: 40px;

    margin: 20px 0 10px;

    &.heavy {
        font-size  : 50px;
        line-height: 60px;

        margin: 22px 0 18px;

        + p.venus {
            margin-top: -10px;
        }
    }

    + p.venus {
        margin-top: 10px;
    }
}

h3.venus {
    font-size  : 22px;
    line-height: 30px;

    margin: 17px 0 13px;

    &.heavy {
        font-size  : 40px;
        line-height: 40px;
    }

    + p.venus {
        margin-top: 12px;
    }
}

// Text
p.venus {
    padding: 0;
    margin : 5px 0;

    + p.venus {
        margin-top: 10px;

        &.small {
            margin-top: 5px;
        }
    }
}

small.venus,
.venus.small {
    font-size  : 13px;
    line-height: 20px;
}

// Alignment
.venus.text-left           { text-align: left; }
.venus.text-right          { text-align: right; }
.venus.text-center         { text-align: center; }
.venus.text-justify        { text-align: justify; }

// Style
.venus.text-italic        { font-style: italic; }
.venus.text-bold          { font-weight: bold; }
.venus.text-normal        { font-weight: 400; font-style: normal; }
.venus.text-underline     { text-decoration: underline; }


// Description Lists
dl.venus {
  margin-top: 0;
  margin-bottom: 20px;
}
dt.venus,
dd.venus {
  line-height: 20px;
}
dt.venus {
  font-weight: bold;
}
dd.venus {
  margin-left: 0;
}

// Mobile version

@include xs-sm {
  h1.venus { font-size: 32px; }
  h2.venus { font-size: 28px; }
  h3.venus { font-size: 24px; }
}
