$this: ".venus.form";
#{$this} {
    -webkit-tap-highlight-color: rgba($color-white, 0);

    * {
        -webkit-tap-highlight-color: rgba($color-white, 0);
    }

    &--with-fields {
        margin-top   : -#{$container-horizontal-padding};
        margin-bottom: -#{$container-horizontal-padding};
    }

    &__field {
        margin     : #{$container-horizontal-padding} 0;
        line-height: .5;

        &--large {
            margin: #{$container-horizontal-padding * 2} 0;
        }
    }

    &__label {
        display: inline-block;
        margin : -5px 0 8px;

        font-size     : 13px;
        line-height   : 1;
        font-weight   : 500;
        text-transform: uppercase;

        color: $color-dark-grey;

        &[for] {
            cursor: pointer;
        }
    }

    select#{$this}__control,
    textarea#{$this}__control,
    &__control[type="text"],
    &__control[type="password"],
    &__control[type="datetime"],
    &__control[type="datetime-local"],
    &__control[type="date"],
    &__control[type="month"],
    &__control[type="time"],
    &__control[type="week"],
    &__control[type="number"],
    &__control[type="email"],
    &__control[type="url"],
    &__control[type="search"],
    &__control[type="tel"],
    &__control[type="color"] {
        display: block;
        width  : 100%;

        padding: $input-padding-base;
        margin : 0;

        @include     font-size-default;
        color      : $text-default-color;

        -moz-box-sizing   : border-box;
        -webkit-box-sizing: border-box;
        box-sizing        : border-box;

        -webkit-appearance: none;

        background-color: $color-white;
        box-shadow      : none;

        border : 1px solid $input-border-color;
        @include border-radius(3px);
        @include transition;

        &::-webkit-input-placeholder {
            z-index    : 99;
            line-height: normal !important;
            @include placeholder-style;
        }

        &:-moz-placeholder {
            line-height: normal;
            @include placeholder-style;
        }

        &:-ms-input-placeholder {
            line-height: 1.5;
            @include placeholder-style;
        }

        &:focus {
            outline     : none;
            border-color: $input-border-focus-color;
        }

        &.invalid:not(:focus),
        &.ng-invalid.ng-dirty:not(:focus) {
            color       : $input-invalid-text;
            border-color: $input-invalid-border;
        }

        &:disabled,
        &.disabled {
            color           : $input-disabled-text;
            border-color    : $input-disabled-border;
            background-color: $input-disabled-background;

            &::-webkit-input-placeholder {
                color: $input-disabled-text;
            }

            &:-moz-placeholder {
                color: $input-disabled-text;
            }

            &::-moz-placeholder {
                color: $input-disabled-text;
            }

            &:-ms-input-placeholder {
                color: $input-disabled-text;
            }
        }
    }

    &__control {
        height: $input-height-base;

        &[type="radio"],
        &[type="checkbox"] {
            height: 20px;
        }

        &[type="hidden"] {
            height: auto;
        }

        /* Firefox 18- */
        &:-moz-placeholder {
           color      : $color-light-grey;
           font-style : italic;
           font-weight: bold;
        }

        /* Firefox 19+ */
        &::-moz-placeholder {
           color      : $color-light-grey;
           font-style : italic;
           font-weight: bold;
        }

        &:-ms-input-placeholder {
           color      : $color-light-grey;
           font-style : italic;
           font-weight: bold;
        }

        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type="checkbox"],
        &[type="radio"] {
            position: absolute;
            z-index : 1;
            opacity : 0;

            width : 20px;
            height: 20px;

            margin-top: -3px;

            cursor: pointer;

            &:focus {
                + #{$this}__label {
                    &:before,
                    &:after {
                        border-color: $input-border-focus-color;
                    }
                }
            }

            + #{$this}__label {
                display : inline-block;
                position: relative;

                padding-left : 30px;
                margin-top   : 2px;
                margin-right : $input-height-base;
                margin-bottom: 10px;

                font-size     : 16px;
                font-weight   : normal;
                line-height   : 1.25;
                text-transform: none;

                color: $color-black;

                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                &:before,
                &:after {
                    content : " ";
                    position: absolute;
                    display : inline-block;

                    bottom: 0;
                    left  : 0;

                    margin-right: 10px;

                    border          : 1px solid $input-border-color;
                    background-color: transparent;

                    @include border-radius(3px);
                    @include transition;
                }

                &:before {
                    border-color: transparent;
                }

                &:after {
                    top   : 0;
                    width : 18px;
                    height: 18px;
                }
            }

            &:checked {
                & + #{$this}__label {
                    &:before {
                        line-height: 1.4;
                        text-align : center;

                        border-color    : $input-border-focus-color;
                        background-color: $input-border-focus-color;

                        @include animation ("scaleUp", .25s, "normal");
                    }

                    &:after {
                        border-color: $input-border-focus-color;
                    }
                }
            }

            &:disabled + #{$this}__label {
                cursor: default;

                &:after {
                    cursor: default;

                    border-color    : $color-light-grey;
                    background-color: $input-disabled-background;
                }
            }
        }

        &[type="radio"] {
            @include border-radius(50%);

            + #{$this}__label {
                &:before,
                &:after {
                    @include border-radius(50%);
                }

                &:before {
                    margin: 1px 3px 3px;

                    width : 12px;
                    height: 12px;
                }
            }

            &:focus {
                + #{$this}__label {
                    &:before {
                        border-color: transparent;
                    }
                }
            }
        }

        &[type="checkbox"] {
            + #{$this}__label {
                &:before {
                    border: none;
                    margin: 3px 4px;

                    width : 13px;
                    height: 13px;
                    margin: 2px 0 3px 4px;
                }
            }

            &:checked {
                & + #{$this}__label {
                    &:before {
                        border: none;

                        background-color   : transparent;
                        background-image   : url("#{map-get($path-assets, icons)}/icon--check--blue.svg");
                        background-position: center;
                        background-repeat  : no-repeat;
                        background-size    : 14px 11px;
                    }
                }
            }
        }

        &.ng-pristine {
            border: 1px solid $input-border-color;
            color : $text-default-color;
        }

        &::-webkit-input-placeholder {
            color     : $color-light-grey;
            font-style: italic;
        }
    }

    select {
        position: relative;

        -moz-appearance   : none;
        -webkit-appearance: none;

        background-image   : url("#{map-get($path-assets, icons)}/icon--arrow--down.svg");
        background-repeat  : no-repeat;
        background-position: 98.5% center;
        background-size    : 9px;

        -moz-background-position: -9999px -9999px;

        cursor: pointer;

        padding: 8px;

        line-height: 1.15;

        &:disabled,
        &--disabled,
        &#{$this}__control--grey-arrow {
            background-image: url("#{map-get($path-assets, icons)}/icon--arrow--down--grey.svg");
        }

        &:focus,
        &#{$this}__control--grey-arrow:focus {
            background-image: url("#{map-get($path-assets, icons)}/icon--arrow--down--blue.svg");
        }
    }

    textarea {
        resize : vertical;
        height : 140px;
        padding: 8px 10px 6px;

        &[rows="2"] {
            height: 60px;
        }
        &[rows="3"] {
            height: 70px;
        }
        &[rows="4"] {
            height: 90px;
        }
        &[rows="5"] {
            height: 100px;
        }
    }

    &__helper {
        font-size  : 13px;
        line-height: 1.55;

        margin-top   : 0;
        margin-bottom: 0;
        padding: 5px 0 6px;

        &--error {
            color: $color-red;
            font-style: italic;

            background-color: $color-white;

            animation : fadeIn .2s;
            transition: line-height .2s linear;

            &.ng-hide {
                line-height: 0;

                &-add {
                    animation: fadeOut .2s;
                }
            }
        }
    }

    @import "_form__control-with-icon";
}
