$this: ".venus";
#{$this} {
	&.left {
		float: left !important;
	}

	&.right {
		float: right !important; }

	&.clearfix:before, .clearfix:after {
		content: " ";
		display: table;
    }

	&.clearfix:after {
		clear: both;
    }

	&.hide {
		display: none; }

	&.mob-show {
		display: none;
	}
	&.mob-hide {
		display: inherit;
	}
	&.mob-tablet-show {
		display: none;
	}

	&.antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.row {
		margin-left: -2%;
		*zoom: 1;

		&:before,
		&:after {
			display: table;
			line-height: 0;
			content: ""
		}
		&:after {
			clear: both;
		}
	}

	&.container {
		max-width: $container-width;
		width    : 100%;

		margin-right : auto;
		margin-left  : auto;
        padding-right: $container-horizontal-padding;
        padding-left : $container-horizontal-padding;

		*zoom: 1;

		&:before,
		&:after {
			display: table;
			line-height: 0;
			content: "";
		}
		&:after {
			clear: both;
		}

		&.large {
			max-width: $container-large-width;
		}

        &.huge {
            max-width: $container-big-width;

            @include hugeDesktop {
                max-width: $container-huge-width;
            }
        }

        &.fluid {
            max-width: 100%;
        }
	}

	&.column {
		float: left;
		min-height: 1px;
		margin-left: 2%;

		&.one {
			width: 6.33%;
		}
		&.two {
			width: 14.66%;
		}
		&.three {
			width: 22.99%;
		}
		&.four {
			width: 31.32%;
		}
		&.five {
			width: 39.65%;
		}
		&.six {
			width: 47.98%;
		}
		&.seven {
			width: 56.31%;
		}
		&.eight {
			width: 64.64%;
		}
		&.nine {
			width: 72.97%;
		}
		&.ten {
			width: 81.3%;
		}
		&.eleven {
			width: 89.36%;
		}
		&.twelve {
			width: 98%;
		}
		&.hide {
			display: none;
		}
		&.right {
			float: right;
		}
		&.centered {
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	@media only screen and ($desktop-width) {
		&.offset-one {
			margin-left: 6.33%;
		}
		&.offset-two {
			margin-left: 14.66%;
		}
		&.offset-three {
			margin-left: 22.99%;
		}
		&.offset-four {
			margin-left: 31.32%;
		}
		&.offset-five {
			margin-left: 39.65%;
		}
		&.offset-six {
			margin-left: 47.98%;
		}
		&.offset-seven {
			margin-left: 56.31%;
		}
		&.offset-eight {
			margin-left: 64.64%;
		}
		&.offset-nine {
			margin-left: 72.97%;
		}
		&.offset-ten {
			margin-left: 81.3%;
		}
		&.offset-eleven {
			margin-left: 89.36%;
		}
		&.container {
			&.transmute-grid {
				max-width: 1060px;
				width: 100%;
			}
		}
		&.column {
			&.expand {
				max-width: 1060px;
				width: 100%;
			}
		}
	}

	// Tablet to mobile
    @include phoneAndTablet {
		.mob-all-hide {
			display: none;
		}
		.column {
			&.dis-column {
				width: inherit;
				float: none;
				margin-left: inherit;
			}
		}
	}

	// Grid for Tablet
	@include tablet {
		&.container {
            max-width: 660px;

            &.large {
                max-width: 740px;
            }

			&.transmute-grid-mob,
			&.transmute-grid {
				width: 100%;

				.column {
					&.nine,
					&.ten,
					&.eleven,
					&.twelve,
					&.expand {
						width: 98%;
					}
					&.tablet-one,
					&.tablet-two,
					&.tablet-three,
					&.tablet-four,
					&.tablet-five,
					&.tablet-six,
					&.tablet-seven,
					&.tablet-eight {
						margin-left: 2%;
					}
					&.tablet-one {
						width: 10.5%;
					}
					&.tablet-two {
						width: 23%;
					}
					&.tablet-three {
						width: 35.5%;
					}
					&.tablet-four {
						width: 48%;
					}
					&.tablet-five {
						width: 60.5%;
					}
					&.tablet-six {
						width: 73%;
					}
					&.tablet-seven {
						width: 85%;
					}
					&.tablet-eight {
						width: 98%;
					}
				}
			}
		}
		.mob-tablet-show {
			display: inherit;
		}
		.mob-tablet-hide {
			display: none;
		}
		.column {
			&.tablet-one,
			&.tablet-two,
			&.tablet-three,
			&.tablet-four,
			&.tablet-five,
			&.tablet-six,
			&.tablet-seven,
			&.tablet-eight {
				margin-left: 2%;
			}
			&.tablet-one {
				width: 10.5%;
			}
			&.tablet-two {
				width: 23%;
			}
			&.tablet-three {
				width: 35.5%;
			}
			&.tablet-four {
				width: 48%;
			}
			&.tablet-five {
				width: 60.5%;
			}
			&.tablet-six {
				width: 73%;
			}
			&.tablet-seven {
				width: 85%;
			}
			&.tablet-eight {
				width: 98%;
			}
		}
	}

    // Grid for Smartphone and Tablet
    @include phoneAndTablet {
        &.container {
            max-width: 660px;

            &.large,
            &.huge {
                max-width: 740px;
            }
        }
    }

	// Grid for Smartphones
	@include phone {
		&.mob-show {
			display: inherit;
		}
		&.mob-hide {
			display: none;
		}

		&.container {
			width: 100%;
		}

		&.column {

			&.one,
			&.two,
			&.three,
			&.four,
			&.five,
			&.six,
			&.seven,
			&.eight,
			&.nine,
			&.ten,
			&.eleven,
			&.twelve {
				width: 98%;
			}
			&.mob-one {
				width: 23%;
			}
			&.mob-two {
				width: 48%;
			}
			&.mob-three {
				width: 73%;
			}
			&.mob-four {
				width: 98%;
			}
		}
		&.mob-offset-one {
			margin-left: 23%;
		}
		&.mob-offset-two {
			margin-left: 48%;
		}
		&.mob-offset-three {
			margin-left: 73%;
		}
	}

	@include print {

        &.container {
            width: #{$container-width - ($container-horizontal-padding * 2)};
            padding: 0;
        }

		&.row {
			#{$this}.column {

				&.print-one {
					width: 6.33%;
				}

				&.print-two {
					width: 14.66%;
				}

				&.print-three {
					width: 22.99%;
				}

				&.print-four {
					width: 31.32%;
				}

				&.print-five {
					width: 39.69%;
				}

				&.print-six {
					width: 47.98%;
				}

				&.print-seven {
					width: 56.31%;
				}

				&.print-eight {
					width: 64.64%;
				}

				&.print-nine {
					width: 72.97%;
				}

				&.print-ten {
					width: 81.3%;
				}

				&.print-eleven {
					width: 89.36%;
				}

				&.print-twelve {
					width: 98%;
				}
			}
		}
	}
}
